<section data-answers-js class="answers @@if(this.blockCls){@@blockCls}">
    <div class="answers__container container">
        <h2 class="answers__title title title-44">Часто задаваемые вопросы</h2>
        <div class="answers__items">
            <div class="answers-item active">
                <h4 class="answers-item__title">Нужен ли личный приход?</h4>
                <p class="answers-item__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias corrupti aut consequatur, sit at tempore officiis? Maiores quidem placeat saepe temporibus officiis molestias reiciendis recusandae, quibusdam repellendus obcaecati eius doloribus doloremque cum?
                </p>
            </div>
            <div class="answers-item">
                <h4 class="answers-item__title">Как долго оформляется виза?</h4>
                <p class="answers-item__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias corrupti aut consequatur, sit at tempore officiis? Maiores quidem placeat saepe temporibus officiis molestias reiciendis recusandae, quibusdam repellendus obcaecati eius doloribus doloremque cum?
                </p>
            </div>
            <div class="answers-item">
                <h4 class="answers-item__title">Можно ли оформить визу без билетов и брони отеля?</h4>
                <p class="answers-item__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias corrupti aut consequatur, sit at tempore officiis? Maiores quidem placeat saepe temporibus officiis molestias reiciendis recusandae, quibusdam repellendus obcaecati eius doloribus doloremque cum?
                </p>
            </div>
            <div class="answers-item">
                <h4 class="answers-item__title">Нужна ли виза, если есть шенген в другой стране?</h4>
                <p class="answers-item__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias corrupti aut consequatur, sit at tempore officiis? Maiores quidem placeat saepe temporibus officiis molestias reiciendis recusandae, quibusdam repellendus obcaecati eius doloribus doloremque cum?
                </p>
            </div>
            <div class="answers-item">
                <h4 class="answers-item__title">Помогаете ли вы при первом оформлении визы?</h4>
                <p class="answers-item__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias corrupti aut consequatur, sit at tempore officiis? Maiores quidem placeat saepe temporibus officiis molestias reiciendis recusandae, quibusdam repellendus obcaecati eius doloribus doloremque cum?
                </p>
            </div>
            <div class="answers-item">
                <h4 class="answers-item__title">Какие визы вы оформляете: туристические, рабочие, учебные?</h4>
                <p class="answers-item__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias corrupti aut consequatur, sit at tempore officiis? Maiores quidem placeat saepe temporibus officiis molestias reiciendis recusandae, quibusdam repellendus obcaecati eius doloribus doloremque cum?
                </p>
            </div>
            <div class="answers-item">
                <h4 class="answers-item__title">Какие страны сейчас выдают визы гражданам РФ?</h4>
                <p class="answers-item__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias corrupti aut consequatur, sit at tempore officiis? Maiores quidem placeat saepe temporibus officiis molestias reiciendis recusandae, quibusdam repellendus obcaecati eius doloribus doloremque cum?
                </p>
            </div>
            <div class="answers-item">
                <h4 class="answers-item__title">Сколько времени действует готовая виза?</h4>
                <p class="answers-item__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias corrupti aut consequatur, sit at tempore officiis? Maiores quidem placeat saepe temporibus officiis molestias reiciendis recusandae, quibusdam repellendus obcaecati eius doloribus doloremque cum?
                </p>
            </div>
        </div>
    </div>
</section>