<footer class="footer section-p-t">
    <div class="footer__body">
        <div class="footer__container container">
            <div class="footer__top">
                <div class="footer__block">
                    <h4 class="footer__block-title">О нас</h4>
                    <ul class="footer__list">
                        <li class="footer__list-item"><a href="#">Новости</a></li>
                        <li class="footer__list-item"><a href="#">Варианты оплаты</a></li>
                        <li class="footer__list-item"><a href="#">Оплата в кредит</a></li>
                        <li class="footer__list-item"><a href="#">Отзывы</a></li>
                    </ul>
                </div>
                <div class="footer__block">
                    <h4 class="footer__block-title">Информация</h4>
                    <ul class="footer__list">
                        <li class="footer__list-item"><a href="#">Сколько стоят путёвки</a></li>
                        <li class="footer__list-item"><a href="#">Полезное</a></li>
                        <li class="footer__list-item"><a href="#">Оформление виз</a></li>
                        <li class="footer__list-item"><a href="#">Заказ билетов</a></li>
                        <li class="footer__list-item"><a href="#">Бронирование отелей</a></li>
                    </ul>
                </div>
                <div class="footer__block footer__block--right">
                    <h4 class="footer__block-title">Контакты и реквизиты</h4>
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <p>ООО «МастерТур»</p>
                        </li>
                        <li class="footer__list-item">
                            <p>Время работы ежедневно: с 10.00 до 20.00</p>
                        </li>
                        <li class="footer__list-item"><a href="#">117133, город Москва, ул. Тёплый стан, д. 14/2, кв.
                                566</a></li>
                        <li class="footer__list-item">
                            <p>Телефоны менеджеров: <a href="#">+7 (966) 250-57-48</a>;</p>
                        </li>
                        <li class="footer__list-item">
                            <p>Электронная почта: <a href="#"> 5672020kzn@gmail.com</a></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__bottom">
                <p class="footer__bottom-text">© 2025 МастерТур. Путешествуйте легко — мы позаботимся обо всём.</p>
                <div class="footer__bottom-links">
                    <a class="footer__bottom-link" href="#">Публичная оферта</a>
                    <a class="footer__bottom-link" href="#">Политика конфиденциальности</a>
                </div>
            </div>
        </div>
    </div>
</footer>

@@include("_sprite.svg")
<script src="common.js?v=0"></script>
</body>

</html>