<div data-cookies-js class="cookies">
    <p class="cookies__text">
        Мы используем cookies для работы сайта, аналитики и рекламы. Нажимая «Принять все», вы соглашаетесь на использование всех категорий cookies. Подробнее — в <a href="#" class="cookies__link"> Политике обработки персональных данных.</a>
    </p>
    <div class="cookies__buttons">
        <button type="button" aria-label="Согласиться" class="cookies__button cookies__button_agree btn btn-blue">
            <span>Принять все</span>
        </button>
        <button type="button" aria-label="Отклонить" class="cookies__button cookies__button_agree btn btn-border">
            <span>Отклонить</span>
        </button>
    </div>
</div>