<header data-header-js class="header">
    <div class="header__container container">
        <a href="#" class="header__logo">
            <img loading="lazy" alt="image" src="./img/logo.webp">
        </a>
        <div data-resize class="header__menu">
            <ul class="header__list">
                <li data-menu-open="header-item-menu_tours" class="header__list-item">
                    <a href="#">
                        Туры
                        <button type="button" aria-label="#" class="header__arrow">
                            <svg>
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </button>
                    </a>
                </li>
                <li data-menu-open="header-item-menu_hot-tours" class="header__list-item">
                    <a href="#">
                        Горящие туры
                        <button type="button" aria-label="#" class="header__arrow">
                            <svg>
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </button>
                    </a>
                </li>
                <li class="header__list-item">
                    <a href="#">
                        Подбор тура
                    </a>
                </li>
                <li data-menu-open="header-item-menu_services" class="header__list-item">
                    <a href="#">
                        Услуги
                        <button type="button" aria-label="#" class="header__arrow">
                            <svg>
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </button>
                    </a>
                </li>
                <li data-menu-open="header-item-menu_bue" class="header__list-item">
                    <a href="#">
                        Полезное
                        <button type="button" aria-label="#" class="header__arrow">
                            <svg>
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </button>
                    </a>
                </li>
                <li data-menu-open="header-item-menu_about" class="header__list-item">
                    <a href="#">
                        О компании
                        <button type="button" aria-label="#" class="header__arrow">
                            <svg>
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </button>
                    </a>
                </li>
                <li class="header__list-item">
                    <a href="#">Контакты</a>
                </li>
            </ul>
            <a href="tel:+78435672020" class="header__phone header__phone--mobile">+7 (843) 567-20-20</a>
        </div>
        <a href="tel:+78435672020" class="header__btn header__phone btn btn-blue"><span>+7 (843) 567-20-20</span></a>
        <button type="button" aria-label="Открыть меню" class="header__burger">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>

<div class="header-item-menu container header-item-menu_tours">
    <button type="button" aria-label="Закрыть меню" class="header-item-menu__close">
        <svg>
            <use xlink:href="#close"></use>
        </svg>
    </button>
    <div class="header-item-menu__wrapper">
        <div class="header-item-menu__top">
            <a href="#" class="header-item-menu__btn">
                По направлениям
                <button type="button" aria-label="#" class="header__arrow">
                    <svg>
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </button>
            </a>
            <a href="#" class="header-item-menu__btn">
                По России
                <button type="button" aria-label="#" class="header__arrow">
                    <svg>
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </button>
            </a>
            <a href="#" class="header-item-menu__btn">
                По видам туров
                <button type="button" aria-label="#" class="header__arrow">
                    <svg>
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </button>
            </a>
            <a href="#" class="header-item-menu__btn">
                Тематические туры
                <button type="button" aria-label="#" class="header__arrow">
                    <svg>
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </button>
            </a>
        </div>
        <div class="header-item-menu__tabs">
            <div class="header-item-menu__tab active">
                <a href="#" class="header-item-menu__link">Турция</a>
                <a href="#" class="header-item-menu__link">Египет</a>
                <a href="#" class="header-item-menu__link">ОАЭ</a>
                <a href="#" class="header-item-menu__link">Таиланд</a>
                <a href="#" class="header-item-menu__link">Вьетнам</a>
                <a href="#" class="header-item-menu__link">Греция</a>
                <a href="#" class="header-item-menu__link">Кипр</a>
                <a href="#" class="header-item-menu__link">Доминикана</a>
                <a href="#" class="header-item-menu__link_blue btn btn-blue">
                    <span>Все страны</span>
                </a>
            </div>
            <div class="header-item-menu__tab">
                <a href="#" class="header-item-menu__link">1</a>
                <a href="#" class="header-item-menu__link">1</a>
                <a href="#" class="header-item-menu__link">1</a>
                <a href="#" class="header-item-menu__link">1</a>
                <a href="#" class="header-item-menu__link">1</a>
                <a href="#" class="header-item-menu__link">1</a>
                <a href="#" class="header-item-menu__link">1</a>
                <a href="#" class="header-item-menu__link">1</a>
                <a href="#" class="header-item-menu__link_blue btn btn-blue">
                    <span>Все страны</span>
                </a>
            </div>
            <div class="header-item-menu__tab">
                <a href="#" class="header-item-menu__link">2</a>
                <a href="#" class="header-item-menu__link">2</a>
                <a href="#" class="header-item-menu__link">2</a>
                <a href="#" class="header-item-menu__link">2</a>
                <a href="#" class="header-item-menu__link">2</a>
                <a href="#" class="header-item-menu__link">2</a>
                <a href="#" class="header-item-menu__link">2</a>
                <a href="#" class="header-item-menu__link">2</a>
                <a href="#" class="header-item-menu__link_blue btn btn-blue">
                    <span>Все страны</span>
                </a>
            </div>
            <div class="header-item-menu__tab">
                <a href="#" class="header-item-menu__link">3</a>
                <a href="#" class="header-item-menu__link">3</a>
                <a href="#" class="header-item-menu__link">3</a>
                <a href="#" class="header-item-menu__link">3</a>
                <a href="#" class="header-item-menu__link">3</a>
                <a href="#" class="header-item-menu__link">3</a>
                <a href="#" class="header-item-menu__link">3</a>
                <a href="#" class="header-item-menu__link">3</a>
                <a href="#" class="header-item-menu__link_blue btn btn-blue">
                    <span>Все страны</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="header-item-menu container header-item-menu_hot-tours">
    <button type="button" aria-label="Закрыть меню" class="header-item-menu__close">
        <svg>
            <use xlink:href="#close"></use>
        </svg>
    </button>
    <div class="header-item-menu__wrapper">
        <div class="header-item-menu__tab active">
            <a href="#" class="header-item-menu__link">Из Москвы</a>
            <a href="#" class="header-item-menu__link">В Турцию</a>
            <a href="#" class="header-item-menu__link">В ОАЭ</a>
            <a href="#" class="header-item-menu__link">В Таиланд</a>
            <a href="#" class="header-item-menu__link">По России</a>
            <a href="#" class="header-item-menu__link_blue btn btn-blue">
                <span>Все горячие туры</span>
            </a>
        </div>
    </div>
</div>
<div class="header-item-menu container header-item-menu_services">
    <button type="button" aria-label="Закрыть меню" class="header-item-menu__close">
        <svg>
            <use xlink:href="#close"></use>
        </svg>
    </button>
    <div class="header-item-menu__wrapper">
        <div class="header-item-menu__tab active">
            <a href="#" class="header-item-menu__link">Оформление виз</a>
            <a href="#" class="header-item-menu__link">Заказ билетов</a>
            <a href="#" class="header-item-menu__link">Бронирование гостиниц</a>
        </div>
    </div>
</div>
<div class="header-item-menu container header-item-menu_bue">
    <button type="button" aria-label="Закрыть меню" class="header-item-menu__close">
        <svg>
            <use xlink:href="#close"></use>
        </svg>
    </button>
    <div class="header-item-menu__wrapper">
        <div class="header-item-menu__tab active">
            <a href="#" class="header-item-menu__link">Статьи</a>
            <a href="#" class="header-item-menu__link">Советы туристам</a>
            <a href="#" class="header-item-menu__link">Часто задаваемые вопросы (FAQ)</a>
            <a href="#" class="header-item-menu__link">Подборки и рейтинги</a>
            <a href="#" class="header-item-menu__link">Памятка путешественника</a>
            <a href="#" class="header-item-menu__link">Новости туризма</a>
        </div>
    </div>
</div>
<div class="header-item-menu container header-item-menu_about">
    <button type="button" aria-label="Закрыть меню" class="header-item-menu__close">
        <svg>
            <use xlink:href="#close"></use>
        </svg>
    </button>
    <div class="header-item-menu__wrapper">
        <div class="header-item-menu__tab active">
            <a href="#" class="header-item-menu__link">О нас</a>
            <a href="#" class="header-item-menu__link">Команда</a>
            <a href="#" class="header-item-menu__link">Отзывы</a>
            <a href="#" class="header-item-menu__link">Документы</a>
            <a href="#" class="header-item-menu__link">Варианты оплаты</a>
        </div>
    </div>
</div>