<header data-header-js class="header">
    <div class="header__container container">
        <a href="#" class="header__logo">
            <img loading="lazy" alt="image" src="./img/logo.webp">
        </a>
        <div data-resize class="header__menu">
            <ul class="header__list">
                <li class="header__list-item">
                    <a href="#">Туры</a>
                </li>
                <li class="header__list-item">
                    <a href="#">Горящие туры</a>
                </li>
                <li class="header__list-item">
                    <a href="#">Подбор тура</a>
                </li>
                <li class="header__list-item">
                    <a href="#">Услуги</a>
                </li>
                <li class="header__list-item">
                    <a href="#">Полезное</a>
                </li>
                <li class="header__list-item">
                    <a href="#">О компании</a>
                </li>
                <li class="header__list-item">
                    <a href="#">Контакты</a>
                </li>
            </ul>
            <a href="tel:+78435672020" class="header__phone header__phone--mobile">+7 (843) 567-20-20</a>
        </div>
        <a href="tel:+78435672020" class="header__btn header__phone btn btn-blue"><span>+7 (843) 567-20-20</span></a>
        <button type="button" aria-label="Открыть меню" class="header__burger">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>