@use 'lib' as *;

.cookies {
	$self: &;

    position: fixed;
    right: 20px; bottom: 20px;
    max-width: calc(100% - 40px);
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #1E77BB;
    padding: 20px;
    display: none;
    flex-direction: row;
    gap: 10px;
    z-index: 9999;

    &.active {
        display: flex;
    }

    @include media("<=xs") {
        flex-direction: column;
        gap: 10px;
    }

	&__text {
        font-size: 14px;
        max-width: 600px;
	}

	&__link {
        color: #2FA5DE;
	}

	&__buttons {
        display: flex;
        flex-direction: row;
        gap: 10px;

        @include media("<=xs") {
            flex-direction: column;
        }
	}

	&__button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 53px;
        min-width: 138px;

		&_agree {
			min-width: 150px;
		}
	}

}
