// .SLT-App-blue__container {
//     background: linear-gradient(270deg, #2FA5DE 0%, #1E77BB 97%);
//     border-radius: 8px;
//     overflow: hidden;
//     max-width: 100%;

//     .SLT-SearchForm-blue__container.SLT-SearchForm-blue__desktopView {
//         padding: 30px;
//     }

//     .SLT-SearchForm-blue__title {
//         display: none;
//     }

//     .SLT-SearchForm-blue__searchBtn {
//         background-color: #2E2E2E;
//         border-radius: 8px;
//         color: #fff;
//     }

//     .SLT-SearchForm-blue__mainBlock {
//         display: flex;
//         gap: 20px;
//     }

//     .SLT-SearchForm-blue__field {
//         border-radius: 8px;
//         background-color: #F5F4F0;
//         overflow: hidden;
//     }

//     .SLT-SearchForm-blue__field.SLT-SearchForm-blue__half:not(:last-child):after {
//         display: none;
//     }

//     .SLT-SearchForm-blue__extendFormButton .SLT-SearchForm-blue__collapseForm svg {
//         fill: #2E2E2E;
//     }

// }

.module-form__pl {
    background: linear-gradient(270deg, #2FA5DE 0%, #1E77BB 97%) !important;
    border: none !important;
    border-radius: 8px !important;
    overflow: hidden !important;
}

.module-form-select {
    border-radius: 8px !important;
    overflow: hidden !important;
}

.module-form .button {
    background: #2E2E2E !important;
    color: #fff !important;
    border-radius: 8px !important;
}

.wrapper-nights {
    border-radius: 8px !important;
}

.wrapper-calendars {
    border-radius: 8px !important;
}

.values {
    border-radius: 8px;
    overflow: hidden !important;
}

.routes {
    .container {
        grid-template-columns: 400px 1fr !important;
        gap: 40px !important;
        display: grid !important;

        @media (max-width: 1100px) {
            grid-template-columns: 1fr !important;
        }
    }
}