@use 'lib' as *;

.header {
	$self: &;

    position: fixed;
    left: 0; top: 0;
    width: 100%;
    z-index: 100;
    background-color: var(--white);

    &.is-scroll {
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    }

    &.is-scroll &__container {
        padding-bottom: 0px;

        &::after {
            opacity: 0;
        }

        @include media("<=xxlg") {
            padding-bottom: 10px;
        }
    }

	&__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 48px;
        padding-bottom: 20px;
        transition: padding-bottom var(--trans);
        position: relative;

        @include media("<=xxlg") {
            padding: 10px 0;
        }

        &::after {
            content: '';
            position: absolute;
            height: 1px;
            width: 100%;
            bottom: 0;
            left: 0;
            background-color: #2E2E2E4D;
            transition: opacity var(--trans);
        }
	}

	&__logo {
        height: 70px;
        flex: 0 0 auto;
        position: relative;
        z-index: 100;

        img {
            height: 100%;
        }

        @include media("<=xs") {
            height: 60px;
        }
	}

	&__menu {
        &.resize {
            transition: none;
        }
        &.active {
            opacity: 1;
            pointer-events: all;
            visibility: visible;
        }
        @include media("<=xxlg") {
            position: fixed;
            inset: 0;
            width: 100%; height: 100%;
            opacity: 0;
            pointer-events: none;
            visibility: hidden;
            transition: opacity var(--trans), visibility var(--trans);
            z-index: 99;
            background-color: rgba($color: #fff, $alpha: 0.9);
            backdrop-filter: blur(8px);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 24px;
        }
	}

    &__item-menu {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        z-index: 100;
        transition: all var(--trans);
        
    }

    &__list-item:hover &__item-menu {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

	&__list {
        display: flex;
        flex-direction: row;
        gap: 15px;

        @include media("<=xxlg") {
            flex-direction: column;
            gap: 24px;
        }
	}

	&__list-item {
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        padding: 10px;
        cursor: pointer;
        box-shadow: inset 0 0 0 1px transparent;
        border-radius: 8px;

        &:hover {
            color: #1E77BB;
            box-shadow: inset 0 0 0 1px #1E77BB;
        }

        @include media("<=xxlg") {
            padding: 0;
        }
	}

	&__phone {
        text-wrap: nowrap;
	}

	&__phone--mobile {
        color: var(--dark-blue);
        @include media(">xxlg") {
            display: none;
        }
	}

    &__btn {
        padding: 18.5px 30px;
        border-radius: 8px;
        color: var(--white);
        font-size: 18px;
        font-weight: 700;

        @include media("<=xxlg") {
            display: none;
        }
    }

    &__burger {
        width: 54px; height: 54px;
        border-radius: 8px;
        background: var(--blue-gradient);
        padding: 14px 10px;
        position: relative;
        z-index: 100;

        @include media(">xxlg") {
            display: none;
        }

        span {
            display: block;
            background-color: var(--white);
            height: 2px; width: 100%;
            border-radius: 1px;
            transition: all var(--trans);
        }

        span {
            position: absolute;
            width: calc(100% - 20px);
            left: 50%;
        }

        span:nth-child(1) {
            top: 14px;
            transform: translateX(-50%);
        }

        span:nth-child(2) {
            top: 50%;
            transform: translateY(-50%) translateX(-50%);
        }

        span:nth-child(3) {
            top: calc(100% - 14px);
            transform: translateX(-50%);
        }

        &.active {
            span:nth-child(2) {
                opacity: 0;
            }
            span:nth-child(1) {
                top: 50%; left: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
            }
            span:nth-child(3) {
                top: 50%; left: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }
}
